body{
  background-image: url('./gameboard-image.jpg');
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

.box{
  text-align: center;
  position: relative;
  top:200px;
  left: 300px;

}
.choice {
  list-style-type: none;
  text-align: center;
  position: relative;
  right: 30px;
}

button{
  padding: 10px;
  border-radius: 15%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
#test{
  display: hidden;
}

p{
  color: white;
}
/*

.bank{
  text-align: center;
}

.bank {
  background-color: #F0F0F0;
  margin: 40px 500px;
  padding: 1px;
  border-radius: 25px;
  opacity: 0.85;
}


.bet{
  list-style-type: none;
}


.box-playerb{
  text-align: right;
  position: relative;
  top: 200px;
  left: 1075px ;
}



#myCanvas {
  position: relative;
  left: 40px;
}
#deck{
  position: relative;
  bottom: 210px;
  left: 1150px;
}
*/